name: Publish Docker image to Gitea Docker Registry
on:
  schedule:
    - cron: 18 0 * * *
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:
    branches:
      - main
jobs:
  push_to_registry:
    name: Push Docker image to Gitea Docker Registry
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Debug registry accessibility
        run: |
            curl -v https://container-registry.itsrye.uk/v2/ || true
      - name: Extract version number
        id: vars
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          else
            echo "VERSION=" >> $GITHUB_OUTPUT
          fi
      - name: Log in to GDR
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
        with:
          registry: container-registry.itsrye.uk
          username: ${{ secrets.GDR_USER }}
          password: ${{ secrets.GDR_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@8d8c7c12f7b958582a5cb82ba16d5903cb27976a
        with:
          images: container-registry.itsrye.uk/meta/simple-pandoc-server
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: git.itsrye.dev/meta/simple-pandoc-server
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
